body {
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.literata-custom { 
    font-family: "Literata", serif;
    font-optical-sizing: auto; 
    font-weight: 200;
    font-style: normal;
}


.card_desarrollador {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    background-image: url('fondo_desarro.webp');
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card_desarrollador h2 {
    margin: 0 0 0;
}

.card_desarrollador .titulo {
    font-weight: bold;
    margin-bottom: 0px;
}

.card_desarrollador .info {
    font-size: 14px;
    text-decoration: none;
}
